@using HttpServer.Shared.Common
@inject NavigationManager NavManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        @if (!NavManager.Uri.Contains("Home"))
        {
            <a class="navbar-brand" href="Home">Go Back Home</a>
        }
        else
        {
            <a class="navbar-brand" href="Home">Home</a>
        }
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@if (NavManager.Uri.Contains("DBCompare"))
{
    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            @foreach (var projectName in GetProjectNames())
            {
                string href = $"DBCompare/{projectName}";
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@href">
                        @projectName
                    </NavLink>
                </div>
            }
        </nav>
    </div>
}
else if (NavManager.Uri.Contains("Tool"))
{
    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Tool/ServerVariable">
                    ServerVariable
                </NavLink>
            </div>
        
            <div class="px-2">
                <hr style="color: white;">
            </div>
        
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Tool/PlayerData">
                    Player Data
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Tool/Rank">
                    Rank
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Tool/MatchHistory">
                    Match History
                </NavLink>
            </div>

            <div class="px-2">
                <hr style="color: white;">
            </div>
        </nav>
    </div>
}
else if (NavManager.Uri.Contains("Home"))
{
    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Tool">
                    QA Tool
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="DBCompare">
                    DB Compare Tool
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="QueryCsvExtract">
                    Query Tool
                </NavLink>
            </div>
        </nav>
    </div>
}



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private List<string> GetProjectNames()
    {
        return ServerInfo.Instance.ConnectionStrings.Keys.ToList();
    }

    // Method to navigate back
    private void GoBack()
    {
        NavManager.NavigateTo("/Home"); // Navigate to the home page
    }
}
