{
  "SshHost": "",
  "SshUserName": "",
  "MySqlUserName": "ysy9514",
  "MySqlPassword": "",
  "SshPort": "22",
  "MySqlPort": "3306",

  "ConnectionStrings": {
    "Project1": {
      "S": "",
      "C": "",
      "Q": "",
      "Live": ""
    },

    "Project2": {
      "S": "",
      "C": "",
      "Q": "",
      "Live": ""
    },

    "Project3": {
      "S": "",
      "C": "",
      "Q": "",
      "Live": ""
    }
  },

  "Databases": {
    "Project1": [
      "HomerunClashConst",
      "HomerunClashCommon"
    ],
    "Project2": [
      "HomerunClash2Const",
      "HomerunClash2Common",
      "HomerunClash2Game"
    ],
    "Project3": [
      "",
      ""
    ]
  }
}
