@page "/Tool/PlayerData"

<h1>Player Data</h1>
<PageTitle>PlayerData</PageTitle>
<Display Player="player" PlayerChanged="OnPlayerChanged"></Display>

@if (player != null)
{
    <br>
    <button type="submit" class="btn btn-primary" @onclick="UpdatePlayerBtnAsync">Update</button>
    <table id="Border-Solid" class="table table-border table-hover w-auto">
        <thead>
        <tr class="table-primary">
            <th>Value</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Suid</td>
            <td>@player.Suid</td>
        </tr>
        <tr>
            <td>Nickname</td>
            <td><input type="text" @bind="player.Nickname"></td>
        </tr>
        <tr>
            <td>Create Time</td>
            <td><input type="text" @bind="player.CreateTime" @bind:format="yyyy-MM-dd HH:mm:ss"></td>
        </tr>
        </tbody>
    </table>
}
else
{
    <p>Player not found</p>
}

@code {
#pragma warning disable 1998
#pragma warning disable 0169
#pragma warning disable 0414

    protected Player player = null;

    public async Task OnPlayerChanged(Player player)
    {
        this.player = player;
    }
}

@code
{
    public async Task UpdatePlayerBtnAsync()
    {
        await AccountDB.SetPlayerAsync(player);
    }
}
