@page "/Tool/ServerVariable"
@using MySqlConnector
@using System.Data
@using System.Text
@using Dapper

<h1>ServerVariable</h1>
<PageTitle>ServerVariable</PageTitle>

@if (serverVariableList != null && serverVariableList.Count > 0)
{
    <br>
    <button type="submit" class="btn btn-primary" @onclick="UpdateServerVariableAsync">Update</button>
    <table id="Border-Solid" class="table table-border table-hover w-auto">
        <thead>
        <tr class="table-primary">
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var variable in serverVariableList)
        {
            <tr>
                <td>@variable.Name</td>
                <td><input type="text" @bind="variable.Value"></td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Player not found</p>
}

@code
{
    List<ServerVariableDB> serverVariableList = new List<ServerVariableDB>();
    
    public class ServerVariableDB
    {
        public string Name { get; set; }
        public string Value { get; set; }
    }
    
    protected override async Task OnInitializedAsync()
    {
        await using (var conn = new MySqlConnection(ServerInfoConfig.Instance.ConnectionString))
        {
            serverVariableList = (await conn.QueryAsync<ServerVariableDB>("select * from tblServerVariable")).ToList();
        }
    }
}

@code
{
    private async Task UpdateServerVariableAsync()
    {
        StringBuilder sql = new StringBuilder();

        foreach (var variable in serverVariableList)
        {
            sql.Append($"update tblServerVariable set value = '{variable.Value}' where name = '{variable.Name}';");
        }

        Console.WriteLine(sql.ToString());
        await using (var conn = new MySqlConnection(ServerInfoConfig.Instance.ConnectionString))
        {
            await conn.ExecuteAsync(sql.ToString());
        }

        await Common.ConstDB.Type.ServerVariable.RefreshAsync();
    }
}
