@inject SearchedPlayer SearchedPlayer

@page "/Tool/counter"
@using HttpServer.Data

<h1>Counter</h1>
<PageTitle>Counter</PageTitle>
<Display></Display>


@code {
#pragma warning disable 1998
#pragma warning disable 0169
#pragma warning disable 0414
    
    

}