@using System.Text
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage storage

<br>
<br>
<div>
    <table id="Border-Solid" class="table table-border table-hover w-auto">
        <tbody>
        <tr>
            <td>Nickname</td>
            <td><input type="text" size="20" @bind="@Nickname"></td>
            <td><button type="submit" class="btn btn-outline-secondary" @onclick="SearchWithNickNameBtnAsync">Search</button></td>
        </tr>
        <tr>
            <td>Suid</td>
            <td><input type="text" size="20" @bind="@Suid"></td>
            <td><button type="submit" class="btn btn-outline-secondary" @onclick="SearchWithSuidBtnAsync">Search</button></td>
        </tr>
        </tbody>
    </table>
</div>
<hr>
<br>

@code {
    public string Nickname { get; set; }
    public string Suid { get; set; }
    SearchInfo searchInfo = new SearchInfo();

    [Parameter]
    public Player Player { get; set; }
    
    [Parameter]
    public EventCallback<Player> PlayerChanged { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                ProtectedBrowserStorageResult<string> storageSuid = await storage.GetAsync<string>("suid");
                if (storageSuid.Success)
                {
                    Suid = storageSuid.Value;
                    if (Int64.TryParse(Suid, out var suid))
                    {
                        var player = await AccountDB.GetPlayerWithSuidAsync(suid);
                        if (player != null)
                        {
                            Nickname = player.Nickname;
                        
                            await RefreshAsync(player);
                        }
                        else
                        {
                            await storage.DeleteAsync("suid");
                        }
                    }
                }
                else
                {
                    await storage.DeleteAsync("suid");
                }
            }
            catch
            {
                await storage.DeleteAsync("suid");
            }
        }
    }
    
    private async Task RefreshAsync(Player player)
    {
        if (player != null)
        {
            Nickname = player.Nickname;
            Suid = player.Suid.ToString();
            
            searchInfo.Nickname = Nickname;
            searchInfo.Suid = Suid;
        
            await storage.SetAsync("suid", Suid);
        }
        else
        {
            Reset();
        }
        
        await PlayerChanged.InvokeAsync(player);
    }
    
    private void Reset()
    {
        Nickname = "";
        Suid = "";
        searchInfo = new();
    }

    private async Task SearchWithNickNameBtnAsync()
    {
        var player = await AccountDB.GetPlayerWithNicknameAsync(Nickname);

        if (player != null)
        {
            Suid = player.Suid.ToString();
            Nickname = player.Nickname;

            await RefreshAsync(player);
        }
    }

    private async Task SearchWithSuidBtnAsync()
    {
        var player = await AccountDB.GetPlayerWithSuidAsync(long.Parse(Suid));

        if (player != null)
        {
            Suid = player.Suid.ToString();
            Nickname = player.Nickname;

            await RefreshAsync(player);
        }
    }
}

@code
{
    public class SearchInfo
    {
        public string Nickname { get; set; }
        public string Suid { get; set; }    
    }
}
