@using HttpServer.Data
@inject SearchedPlayer SearchedPlayer

<br>
<br>
<div>
    <table id="Border-Solid" class="table table-border table-hover w-auto">
        <tbody>
        <tr>
            <td>Nickname</td>
            <td><input type="text" size="20" @bind="@searchInfo.Nickname"></td>
            <td><button type="submit" class="btn btn-outline-secondary" @onclick="SearchWithNickNameBtnAsync">Search</button></td>
        </tr>
        </tbody>
    </table>
</div>
<hr>
<br>

@code {
    
    SearchInfo searchInfo = new SearchInfo();

    [Parameter]
    public Player? Player { get; set; } = null;
    
    private async Task SearchWithNickNameBtnAsync()
    {
        Player = await AccountDB.GetPlayerWithNicknameAsync(searchInfo.Nickname);
        
        if(Player != null)
            SearchedPlayer.Player = Player;
    }

}

@code
{
    class SearchInfo
    {
        public string Nickname { get; set; }
        public long Seq { get; set; }    
    }

}
